option_settings:
  aws:elasticbeanstalk:environment:proxy:nginx:
    GzipCompression: true
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"
  aws:elasticbeanstalk:application:environment:
    PORT: '5000'